---
import { Image } from 'astro:assets'
import BaseLayout from '@/layouts/BaseLayout.astro'
import img2 from './static/media/2.png'
import img5 from './static/media/5.png'
import btn from './static/media/btn.png'

export const getStaticPaths = (() => {
  return [
    { params: { people: '三桥贵明', version: '0' }, props: { name: '三橋貴明', img_prefix: '' } },
    { params: { people: '本田健', version: '0' }, props: { name: '本田健', img_prefix: 'btj_' } },
  ]
}) satisfies GetStaticPaths

const { name: people, img_prefix } = Astro.props
const img1 = import(`./static/media/${img_prefix}1.png`)
const img3 = import(`./static/media/${img_prefix}3.png`)
const img4 = import(`./static/media/${img_prefix}4.png`)
const img6 = import(`./static/media/${img_prefix}6.png`);
---

<BaseLayout>
  <div class="content w-full overflow-hidden">
    <Image src={img1} alt="img1" class="link-btn" />
    <Image src={img2} alt="img2" />
    <Image src={img3} alt="img3" />
    <Image src={img4} alt="img4" />
    <Image class="btn link-btn animate_breath" src={btn} alt="btn" />
    <Image src={img5} alt="img5" />
    <div class="relative">
      <Image src={img6} alt="img6" />
      <Image class="btn link-btn animate_breath absolute left-0 right-0 bottom-[35%]" src={btn} alt="btn" />
    </div>
  </div>
  <style>
    .animate_breath {
      animation: animate_breath 2s ease-in-out infinite;
    }
    @keyframes animate_breath {
      0%, 100% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
    }
  </style>
</BaseLayout>
