---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';
import type { ImageMetadata } from 'astro';
interface Props {
	title: string;
	description: string;
	image?: ImageMetadata;
}

const { title, description } = Astro.props;
const publicPrefix = `${import.meta.env.ASSETS_PREFIX}/static` ;
---
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href={`${publicPrefix}/favicon.svg`} />
<link rel="preload" href={`${publicPrefix}/fonts/atkinson-regular.woff`} as="font" type="font/woff" crossorigin />
<link rel="preload" href={`${publicPrefix}/fonts/atkinson-bold.woff`} as="font" type="font/woff" crossorigin />
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

