---
import RedirectCode from '@/components/RedirectCode.astro'
import btnCta from './static/picture/btn_cta.png'
// Import images
import headerText from './static/picture/header_text.png'

import imgKg0703_4 from './static/picture/img_kg0703_4.png'
import imgMerit1 from './static/picture/img_merit1.jpg'
import imgMerit2 from './static/picture/img_merit2.jpg'
import imgVoice1 from './static/picture/img_voice1.jpg'
import imgVoice2 from './static/picture/img_voice2.jpg'
import imgVoice3 from './static/picture/img_voice3.jpg'
import imgVoice4 from './static/picture/img_voice4.jpg'
import imgVoice5 from './static/picture/img_voice5.jpg'
import imgVoice6 from './static/picture/img_voice6.jpg'
import jissekiImg from './static/picture/jisseki_img.jpg'
// Import CSS files
import './static/css/style2.css'
import './static/css/animate.min.css'
import './static/css/slick-theme.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>AI 기반 주식 추천의 힘을 발휘하세요</title>
    <RedirectCode />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=yes, maximum-scale=1.0, minimum-scale=1.0"
    />

    <script is:inline src="/mjSFqQ/js/df_smooth_scroll_m.js"></script>
    <script is:inline src="/mjSFqQ/js/jquery-3.2.1.min.js"></script>
    <script is:inline src="/mjSFqQ/js/index.js"></script>
    <style>
      @media screen and (max-width: 767px) {
        .webp .l-fv__inner {
          padding-bottom: 20px;
        }

        .l-fv__inner img {
          width: 100% !important;
        }

        .btn_line {
          font-size: 16px !important;
          padding: 10px 40px !important;
        }

        .bt_h1 {
          font-size: 18px !important;
        }

        .bt_wh1 {
          font-size: 24px !important;
        }

        .bt_wp {
          font-size: 14px !important;
          line-height: 24px !important;
        }
      }
    </style>
    <style>
      .n_num {
        width: 33%;
        float: left;
      }

      .n_num h1 {
        font-size: 60px;
        color: #ff0000;
        margin-bottom: 0;
        display: block;
        line-height: 40px;
      }

      .n_num p {
        font-size: 30px;
        color: #000;
        font-weight: bold;
        display: block;
      }

      @media screen and (max-width: 767px) {
        .n_num h1 {
          font-size: 30px;
          color: #ff0000;
          margin-bottom: 0;
          display: block;
          line-height: 30px;
        }

        .n_num p {
          font-size: 18px;
          color: #000;
          font-weight: bold;
          display: block;
        }
      }
    </style>
    <style type="text/css">
      .textright {
        text-align: right;
      }

      .textleft {
        text-align: left;
      }

      .floatright {
        float: right;
      }

      .folatleft {
        float: left;
      }

      .paddingright {
        padding-right: 50px;
      }

      .marginright {
        margin-right: 100px;
      }
    </style>
    <style>
      img.wp-smiley,
      img.emoji {
        display: inline !important;
        border: none !important;
        box-shadow: none !important;
        height: 1em !important;
        width: 1em !important;
        margin: 0 0.07em !important;
        vertical-align: -0.1em !important;
        background: none !important;
        padding: 0 !important;
      }
    </style>
    <style data-id="immersive-translate-input-injected-css">
      .immersive-translate-input {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 2147483647;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .immersive-translate-loading-spinner {
        vertical-align: middle !important;
        width: 10px !important;
        height: 10px !important;
        display: inline-block !important;
        margin: 0 4px !important;
        border: 2px rgba(221, 244, 255, 0.6) solid !important;
        border-top: 2px rgba(0, 0, 0, 0.375) solid !important;
        border-left: 2px rgba(0, 0, 0, 0.375) solid !important;
        border-radius: 50% !important;
        padding: 0 !important;
        -webkit-animation: immersive-translate-loading-animation 0.6s infinite
          linear !important;
        animation: immersive-translate-loading-animation 0.6s infinite linear !important;
      }

      @-webkit-keyframes immersive-translate-loading-animation {
        from {
          -webkit-transform: rotate(0deg);
        }

        to {
          -webkit-transform: rotate(359deg);
        }
      }

      @keyframes immersive-translate-loading-animation {
        from {
          transform: rotate(0deg);
        }

        to {
          transform: rotate(359deg);
        }
      }

      .immersive-translate-input-loading {
        --loading-color: #f78fb6;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        display: block;
        margin: 12px auto;
        position: relative;
        color: white;
        left: -100px;
        box-sizing: border-box;
        animation: immersiveTranslateShadowRolling 1.5s linear infinite;
      }

      @keyframes immersiveTranslateShadowRolling {
        0% {
          box-shadow:
            0px 0 rgba(255, 255, 255, 0),
            0px 0 rgba(255, 255, 255, 0),
            0px 0 rgba(255, 255, 255, 0),
            0px 0 rgba(255, 255, 255, 0);
        }

        12% {
          box-shadow:
            100px 0 var(--loading-color),
            0px 0 rgba(255, 255, 255, 0),
            0px 0 rgba(255, 255, 255, 0),
            0px 0 rgba(255, 255, 255, 0);
        }

        25% {
          box-shadow:
            110px 0 var(--loading-color),
            100px 0 var(--loading-color),
            0px 0 rgba(255, 255, 255, 0),
            0px 0 rgba(255, 255, 255, 0);
        }

        36% {
          box-shadow:
            120px 0 var(--loading-color),
            110px 0 var(--loading-color),
            100px 0 var(--loading-color),
            0px 0 rgba(255, 255, 255, 0);
        }

        50% {
          box-shadow:
            130px 0 var(--loading-color),
            120px 0 var(--loading-color),
            110px 0 var(--loading-color),
            100px 0 var(--loading-color);
        }

        62% {
          box-shadow:
            200px 0 rgba(255, 255, 255, 0),
            130px 0 var(--loading-color),
            120px 0 var(--loading-color),
            110px 0 var(--loading-color);
        }

        75% {
          box-shadow:
            200px 0 rgba(255, 255, 255, 0),
            200px 0 rgba(255, 255, 255, 0),
            130px 0 var(--loading-color),
            120px 0 var(--loading-color);
        }

        87% {
          box-shadow:
            200px 0 rgba(255, 255, 255, 0),
            200px 0 rgba(255, 255, 255, 0),
            200px 0 rgba(255, 255, 255, 0),
            130px 0 var(--loading-color);
        }

        100% {
          box-shadow:
            200px 0 rgba(255, 255, 255, 0),
            200px 0 rgba(255, 255, 255, 0),
            200px 0 rgba(255, 255, 255, 0),
            200px 0 rgba(255, 255, 255, 0);
        }
      }

      .immersive-translate-search-recomend {
        border: 1px solid #dadce0;
        border-radius: 8px;
        padding: 16px;
        margin-bottom: 16px;
        position: relative;
        font-size: 16px;
      }

      .immersive-translate-search-enhancement-en-title {
        color: #4d5156;
      }

      /* dark */
      @media (prefers-color-scheme: dark) {
        .immersive-translate-search-recomend {
          border: 1px solid #3c4043;
        }

        .immersive-translate-close-action svg {
          fill: #bdc1c6;
        }

        .immersive-translate-search-enhancement-en-title {
          color: #bdc1c6;
        }
      }

      .immersive-translate-search-settings {
        position: absolute;
        top: 16px;
        right: 16px;
        cursor: pointer;
      }

      .immersive-translate-search-recomend::before {
      }

      .immersive-translate-search-title {
      }

      .immersive-translate-search-title-wrapper {
      }

      .immersive-translate-search-time {
        font-size: 12px;
        margin: 4px 0 24px;
        color: #70757a;
      }

      .immersive-translate-expand-items {
        display: none;
      }

      .immersive-translate-search-more {
        margin-top: 16px;
        font-size: 14px;
      }

      .immersive-translate-modal {
        display: none;
        position: fixed;
        z-index: 2147483647;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
        font-size: 15px;
      }

      .immersive-translate-modal-content {
        background-color: #fefefe;
        margin: 10% auto;
        padding: 40px 24px 24px;
        border: 1px solid #888;
        border-radius: 10px;
        width: 80%;
        max-width: 270px;
        font-family:
          system-ui,
          -apple-system,
          "Segoe UI",
          "Roboto",
          "Ubuntu",
          "Cantarell",
          "Noto Sans",
          sans-serif,
          "Apple Color Emoji",
          "Segoe UI Emoji",
          "Segoe UI Symbol",
          "Noto Color Emoji";
        position: relative;
      }

      .immersive-translate-modal .immersive-translate-modal-content-in-input {
        max-width: 500px;
      }

      .immersive-translate-modal-content-in-input
        .immersive-translate-modal-body {
        text-align: left;
        max-height: unset;
      }

      .immersive-translate-modal-title {
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        color: #333333;
      }

      .immersive-translate-modal-body {
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        color: #333333;
        word-break: break-all;
        margin-top: 24px;
      }

      @media screen and (max-width: 768px) {
        .immersive-translate-modal-body {
          max-height: 250px;
          overflow-y: auto;
        }
      }

      .immersive-translate-close {
        color: #666666;
        position: absolute;
        right: 16px;
        top: 16px;
        font-size: 20px;
        font-weight: bold;
      }

      .immersive-translate-close:hover,
      .immersive-translate-close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }

      .immersive-translate-modal-footer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 24px;
      }

      .immersive-translate-btn {
        width: fit-content;
        color: #fff;
        background-color: #ea4c89;
        border: none;
        font-size: 16px;
        margin: 0 8px;
        padding: 9px 30px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      .immersive-translate-btn:hover {
        background-color: #f082ac;
      }

      .immersive-translate-cancel-btn {
        /* gray color */
        background-color: rgb(89, 107, 120);
      }

      .immersive-translate-cancel-btn:hover {
        background-color: hsl(205, 20%, 32%);
      }

      .immersive-translate-action-btn {
        background-color: transparent;
        color: #ea4c89;
        border: 1px solid #ea4c89;
      }

      .immersive-translate-btn svg {
        margin-right: 5px;
      }

      .immersive-translate-link {
        cursor: pointer;
        user-select: none;
        -webkit-user-drag: none;
        text-decoration: none;
        color: #007bff;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
      }

      .immersive-translate-primary-link {
        cursor: pointer;
        user-select: none;
        -webkit-user-drag: none;
        text-decoration: none;
        color: #ea4c89;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
      }

      .immersive-translate-modal input[type="radio"] {
        margin: 0 6px;
        cursor: pointer;
      }

      .immersive-translate-modal label {
        cursor: pointer;
      }

      .immersive-translate-close-action {
        position: absolute;
        top: 2px;
        right: 0px;
        cursor: pointer;
      }
    </style>
  </head>

  <body>
    <div id="wrapper">
      <!-- header -->
      <header id="header_pc">
        <div class="header_in">
          <h2 class="banner" style="text-align: center">
            <img
              src={headerText.src}
              alt="Try AI stock screening for free"
              style="margin: 0 auto"
            />
          </h2>
          <div
            style="
              margin: 20px auto 0 auto;
              text-align: center;
              width: 800px;
              max-width: 100%;
            "
          >
            <div>
              <div class="n_num">
                <h1
                  style="color: red; font-size: 55px; font-weight: 500"
                  class="bt_wh1"
                >
                  <span
                    class="timer counter"
                    data-to="89.92"
                    data-speed="3500"
                  >89.92</span
                  ><span>%</span>
                </h1>
                <p>승률</p>
              </div>
              <div class="n_num">
                <h1
                  style="color: red; font-size: 55px; font-weight: 500"
                  class="bt_wh1"
                >
                  <span
                    class="timer counter"
                    data-to="93.84"
                    data-speed="3500"
                  >93.84</span
                  ><span>%</span>
                </h1>
                <p>단정</p>
              </div>
              <div class="n_num">
                <h1
                  style="color: red; font-size: 55px; font-weight: 500"
                  class="bt_wh1"
                >
                  <span
                    class="timer counter"
                    data-to="2.59"
                    data-speed="3500"
                  >25.9</span
                  ><span>K</span>
                </h1>
                <p>회원</p>
              </div>
            </div>
          </div>
        </div>
        <!-- CTA -->
        <div class="cta">
          <div class="ctainner">
            <!-- <h2><img src=static/picture/cta_title_r.png"></h2> -->
            <a  class="link-btn" target="_blank">
              <div class="submit center banner">
                <div class="btna">
                  <img class="myimg" src={btnCta.src} />
                </div>
              </div>
            </a>
            <div style="text-align: center">
              <p class="k_sp" style="font-weight: bold; font-size: 18px">
                버튼을 클릭하면 KAKAO으로 이동됩니다. <br />
                이 서비스는 <span style="color: #fff300">완전 무료</span>입니다.
              </p>
            </div>
          </div>
        </div>
        <!-- /CTA -->
      </header>
      <section class="jisseki">
        <div class="inner">
          <div class="jisseki_head clearfix">
            <div class="jisseki_copy">
              <h2>튜터가 추천하는 페니주가 속속 상승중!</h2>
              <p>급등이 예상되는 주식의 몇 가지 예를 살펴보십시오.</p>
            </div>
            <div class="jisseki_img">
              <img src={jissekiImg.src} alt="" />
            </div>
          </div>
          <!-- PC -->
          <div class="jisseki_wp">
            <div class="jisseki_box">
              <h3>539044</h3>
              <div class="chart_wp clearfix">
                <div class="hyou">
                  <table>
                    <tbody>
                      <tr>
                        <th>저가 날짜</th>
                        <td>2024/1/1</td>
                      </tr>
                      <tr>
                        <th>개장 가격</th>
                        <td>48.85</td>
                      </tr>
                      <tr>
                        <th>고가일</th>
                        <td>2024/1/29</td>
                      </tr>
                      <tr>
                        <th>높은 가격</th>
                        <td>101.75</td>
                      </tr>
                      <tr>
                        <th>증가율</th>
                        <td>
                          <div class="up">
                            <p class="an2-fadeup">▲</p>
                            약 2.08배!
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="jisseki_box">
              <h3>540700</h3>
              <div class="chart_wp clearfix">
                <div class="hyou">
                  <table>
                    <tbody>
                      <tr>
                        <th>저가 날짜</th>
                        <td>2024/1/1</td>
                      </tr>
                      <tr>
                        <th>개장 가격</th>
                        <td>52.64</td>
                      </tr>
                      <tr>
                        <th>높은 가격 Date</th>
                        <td>2024/1/31</td>
                      </tr>
                      <tr>
                        <th>높은 가격</th>
                        <td>94.03</td>
                      </tr>
                      <tr>
                        <th>증가율</th>
                        <td>
                          <div class="up">
                            <p class="an2-fadeup">▲</p>
                            약 1.78배!
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="jisseki_box">
              <h3>535958</h3>
              <div class="chart_wp clearfix">
                <div class="hyou">
                  <table>
                    <tbody>
                      <tr>
                        <th>저가 날짜</th>
                        <td>2024/1/1</td>
                      </tr>
                      <tr>
                        <th>개장 가격</th>
                        <td>3.7</td>
                      </tr>
                      <tr>
                        <th>높은 가격 Date</th>
                        <td>2024/1/17</td>
                      </tr>
                      <tr>
                        <th>높은 가격</th>
                        <td>7.83</td>
                      </tr>
                      <tr>
                        <th>증가율</th>
                        <td>
                          <div class="up">
                            <p class="an2-fadeup">▲</p>
                            약 2.11배!
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="jisseki_box">
              <h3>539773</h3>
              <div class="chart_wp clearfix">
                <div class="hyou">
                  <table>
                    <tbody>
                      <tr>
                        <th>가격이 싼 날</th>
                        <td>2024/1/1</td>
                      </tr>
                      <tr>
                        <th>개장 가격</th>
                        <td>2.13</td>
                      </tr>
                      <tr>
                        <th>높은 가격 day</th>
                        <td>2024/1/9</td>
                      </tr>
                      <tr>
                        <th>높은 가격</th>
                        <td>4.15</td>
                      </tr>
                      <tr>
                        <th>증가율</th>
                        <td>
                          <div class="up">
                            <p class="an2-fadeup">▲</p>
                            약 1.94배!
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="jisseki_wp_sp clearfix">
            <div
              class="responsive3 slick-initialized slick-slider slick-dotted"
              style=""
            >
              <button
                class="slick-prev slick-arrow"
                aria-label="Previous"
                type="button"
                aria-disabled="false"
                style=""
              >
                Previous
              </button>
              <div class="slick-list draggable">
                <div class="slick-track">
                  <div
                    class="jisseki_box_sp slick-slide"
                    data-slick-index="0"
                    aria-hidden="true"
                    tabindex="-1"
                    role="tabpanel"
                    id="slick-slide00"
                    aria-describedby="slick-slide-control00"
                  >
                    <h3>539044</h3>
                    <div class="chart_wp clearfix">
                      <div class="hyou">
                        <table>
                          <tbody>
                            <tr>
                              <th>가격이 싼 날</th>
                              <td>2024/1/1</td>
                            </tr>
                            <tr>
                              <th>개장 가격</th>
                              <td>48.85</td>
                            </tr>
                            <tr>
                              <th>높은 가격 day</th>
                              <td>2024/1/29</td>
                            </tr>
                            <tr>
                              <th>높은 가격</th>
                              <td>101.75</td>
                            </tr>
                            <tr>
                              <th>증가율</th>
                              <td>
                                <div class="up">
                                  <p class="an2-fadeup">▲</p>
                                  약 2.08배!
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div
                    class="jisseki_box_sp slick-slide slick-active"
                    data-slick-index="1"
                    aria-hidden="false"
                    tabindex="-1"
                    role="tabpanel"
                    id="slick-slide01"
                  >
                    <h3>540700</h3>
                    <div class="chart_wp clearfix">
                      <div class="hyou">
                        <table>
                          <tbody>
                            <tr>
                              <th>가격이 싼 날</th>
                              <td>2024/1/1</td>
                            </tr>
                            <tr>
                              <th>개장 가격</th>
                              <td>52.64</td>
                            </tr>
                            <tr>
                              <th>높은 가격 day</th>
                              <td>2024/1/31</td>
                            </tr>
                            <tr>
                              <th>높은 가격</th>
                              <td>94.03</td>
                            </tr>
                            <tr>
                              <th>증가율</th>
                              <td>
                                <div class="up">
                                  <p class="an2-fadeup">▲</p>
                                  약 1.78배!
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div
                    class="jisseki_box_sp slick-slide slick-active"
                    data-slick-index="2"
                    aria-hidden="false"
                    tabindex="-1"
                    role="tabpanel"
                    id="slick-slide02"
                  >
                    <h3>535958</h3>
                    <div class="chart_wp clearfix">
                      <div class="hyou">
                        <table>
                          <tbody>
                            <tr>
                              <th>가격이 싼 날</th>
                              <td>2024/1/1</td>
                            </tr>
                            <tr>
                              <th>개장 가격</th>
                              <td>3.7</td>
                            </tr>
                            <tr>
                              <th>높은 가격 day</th>
                              <td>2024/1/17</td>
                            </tr>
                            <tr>
                              <th>높은 가격</th>
                              <td>7.83</td>
                            </tr>
                            <tr>
                              <th>증가율</th>
                              <td>
                                <div class="up">
                                  <p class="an2-fadeup">▲</p>
                                  약 2.11배!
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div
                    class="jisseki_box_sp slick-slide slick-current slick-active"
                    data-slick-index="3"
                    aria-hidden="false"
                    tabindex="0"
                    role="tabpanel"
                    id="slick-slide03"
                    aria-describedby="slick-slide-control01"
                  >
                    <h3>539773</h3>
                    <div class="chart_wp clearfix">
                      <div class="hyou">
                        <table>
                          <tbody>
                            <tr>
                              <th>가격이 싼 날</th>
                              <td>2024/1/1</td>
                            </tr>
                            <tr>
                              <th>개장 가격</th>
                              <td>2.13</td>
                            </tr>
                            <tr>
                              <th>높은 가격 day</th>
                              <td>2024/1/9</td>
                            </tr>
                            <tr>
                              <th>높은 가격</th>
                              <td>4.15</td>
                            </tr>
                            <tr>
                              <th>증가율</th>
                              <td>
                                <div class="up">
                                  <p class="an2-fadeup">▲</p>
                                  약 1.94배!
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <button
                class="slick-next slick-arrow slick-disabled"
                aria-label="Next"
                type="button"
                style=""
                aria-disabled="true"
              >
                Next
              </button>
              <ul class="slick-dots" style="" role="tablist">
                <li class="" role="presentation">
                  <button
                    type="button"
                    role="tab"
                    id="slick-slide-control00"
                    aria-controls="slick-slide00"
                    aria-label="1 of 2"
                    tabindex="-1"
                  >
                    1
                  </button>
                </li>
                <li role="presentation" class="slick-active">
                  <button
                    type="button"
                    role="tab"
                    id="slick-slide-control01"
                    aria-controls="slick-slide03"
                    aria-label="2 of 2"
                    tabindex="-1"
                  >
                    2
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <!-- <div style="text-align: center">
                <div style="margin: 0 auto"><img
                        src=static/picture/img_k75_1.png" alt=""
                        style="max-width: 100%;width: auto"></div>
            </div> -->
        </div>
        <br />
        <div style="text-align: center">
          <a  class="link-btn" target="_blank">
            <div
              style="
              display: inline-block;
              max-width: 100%;
              animation: switch 2s ease-out infinite;
            "
            >
              <img
                class="myClickimg"
                src={imgKg0703_4.src}
                alt=""
                style="max-width: 100%; width: auto"
              />
            </div>
          </a>
        </div>
      </section>
      <!-- <section class="ai">
        <div class="ai_inner">
            <!-- TODO: Missing image file - <h2><img src="static/picture/img_ai.jpg"></h2> -->
        </div>
    </section> -->
      <section class="merit">
        <h2>페니 주식을 구매하는 이유는 무엇입니까?</h2>
        <div class="merit_inner">
          <!-- box -->
          <div class="merit_box">
            <h3><span class="back_line">1. 진입장벽이 낮다.</span></h3>
            <div class="merit_wp clearfix">
              <div class="merit_left">
                <img src={imgMerit1.src} alt="" />
              </div>
              <p>
                페니 주식은 보통 주가가 낮아 소수 투자자가 주식을 살 수 있게
                합니다. 고가 주식보다 적은 자본이 필요하며, 이는
                <strong class="bl">초보 투자자들에게 좋은 진입점</strong>이 될
                수 있습니다.
                <strong class="bl">막 시작하는 투자자들</strong>에게 좋은 기회가
                될 수 있습니다.
              </p>
            </div>
          </div>
          <!-- /box -->
          <!-- box -->
          <div class="merit_box">
            <h3><span class="back_line">2. 고유동성:</span></h3>
            <div class="merit_wp clearfix">
              <div class="merit_right">
                <img src={imgMerit2.src} />
              </div>
              <p>
                페니 주식의 낮은 가격으로 인해 거래량이 비교적 높아져 거래가 더
                활발하며 유동성이 높아집니다. 단기 투자자나 빠르게 매수 및
                매도해야 하는 투자자들에게 더 나은 거래 기회를 제공할 수
                있습니다.
                <!-- <strong class="bl"></strong> -->
              </p>
            </div>
          </div>

          <!-- /box -->
        </div>
        <br />
        <div style="text-align: center">
          <a  class="link-btn" target="_blank">
            <div
              style="
              display: inline-block;
              max-width: 100%;
              animation: switch 2s ease-out infinite;
            "
            >
              <img
                class="myClickimg"
                src={imgKg0703_4.src}
                alt=""
                style="max-width: 100%; width: auto"
              />
            </div>
          </a>
        </div>
      </section>
      <!-- <section style="background: #f2f2f2;padding: 20px 0">
        <div class="inner">
            <div style="max-width: 100%;width: 900px;margin: 0 auto">
                <img src=static/picture/img_kg0703_2.png" alt=""
                    style="max-width: 100%">
                <img src=static/picture/img_kg0703_3.png" alt=""
                    style="max-width: 100%">
            </div>
        </div>
    </section> -->
      <section class="tool">
        <!-- <h2><img src=static/picture/img_tool.jpg"></h2> -->
      </section>
      <section class="voice">
        <h2>
          초보자도 빠르게 돈을 벌 수 있어요!
          <br />
          <span class="or">고객들의 <span class="bl">후기</span></span>
        </h2>

        <div class="voice_inner">
          <!-- box -->
          <div class="voice_box">
            <div class="voice_wp clearfix">
              <div class="voice_img">
                <img src={imgVoice1.src} alt="" />
              </div>
              <div class="voice_title">
                <div class="age">50대 직장인 남성</div>
                <h3>
                  “예상을 뛰어넘는 수익, <br />
                  더 이상 이것 없이 주식을 살 수 없어요.”
                </h3>
              </div>
            </div>
            <div class="voice_text">
              <p>
                1.멘토와 상담함으로써 종목을 선택하는데 예전에는 많은 시간이
                소요되었던 프로세스가 훨씬 간단해져 스트레스가 사라졌습니다.
              </p>
              <p>
                2.멘토가 추천한 주식에 관한 정보의 깊이는 저의 지식과 차이가
                커서 정확도가 높고 예상하는 기대가 달라집니다.
              </p>
              <p>
                3.이곳을 가입한 후로 저희 수익률은 70%를 초과하였고 , 이전에 살
                수 없었던 메이져 주식도 시도 할수 있게 되었습니다.
              </p>
              <p>4.이제는 더 이상 멘토의 도움없이 주식을 살 수 가 없습니다.</p>
            </div>
          </div>
          <div class="voice_box">
            <div class="voice_wp clearfix">
              <div class="voice_img">
                <img src={imgVoice2.src} alt="" />
              </div>
              <div class="voice_title">
                <div class="age">40대 직장인 남성</div>
                <h3>“5가지 시도한 주식 중 2개가 상한가에요!”</h3>
              </div>
            </div>
            <div class="voice_text">
              <p>
                1.처음 투자한 5개 주식중 2개가 상한가에요!!현재까지 모든 손실은
                회복 되었고 지금은 수익으로 전환 되었습니다.
              </p>
              <p>
                2.사실 5개 주식을 시도 했는데 각각 1주일~2개월정도 짧은 시간에
                수익을 냈으며 작은 주식 2개가 상한가를 찍어서 감동 받았습니다.
              </p>
              <p>
                3.물론 모든 주식이 빠르게 올라간건 아니지만 대부분 높은 기대치가
                있어 자신있게 보유 할 수 있습니다.
              </p>
            </div>
          </div>
          <!-- /box -->

          <!-- box -->
          <div class="voice_box">
            <div class="voice_wp clearfix">
              <div class="voice_img">
                <img src={imgVoice3.src} alt="" />
              </div>
              <div class="voice_title">
                <div class="age">60대 주부 여성</div>
                <h3>
                  단 한 달 만에 아르바이트 수익의 반년치를 벌 수 있었어요!
                </h3>
              </div>
            </div>
            <div class="voice_text">
              <p>
                아들의 추천으로 이 곳에 참여했는데, 딱 한 달 동안에 내가 다루고
                있는 주식으로 반년치 아르바이트 수익과 동일한 수익을 올릴 수
                있었어요.
              </p>
              <p>
                주식 시장에는 잘 몰라서 이런 것들은 피해왔는데, 주식 시장에 대해
                더 많이 알 수 있도록 도와주어 도움이 되고 있어요.
              </p>
            </div>
          </div>
          <!-- /box -->
          <!-- box -->
          <div class="voice_box">
            <div class="voice_wp clearfix">
              <div class="voice_img">
                <img src={imgVoice4.src} alt="" />
              </div>
              <div class="voice_title">
                <div class="age">40대 자영업 남성</div>
                <h3>
                  “<em class="back_line2">시장을 주시할 시간이 없어도</em> 매달 월급보다
                  더 벌어요!”
                </h3>
              </div>
            </div>
            <div class="voice_text">
              <p>
                1.나는 식당을 운영하고 있지만 , 낮에는 점심 장사로 인해 매우
                바빠서 주식을 확인 할 시간이 없었어요! 이전에는 메이져만 찾아
                다니며 즐겼는데 , 지금은 일이 바빠서 할 시간이 부족합니다.
              </p>
              <p>
                2.그떄 , 저의 멘토로부터 배우고 시도해봤는데 , 일은 하면서 식당
                일보다 많은 수익을 볼 수 있었고 저의 멘토는 정말 큰 도움이
                되었습니다.
              </p>
              <p>
                3.전혀 몰랐던 멘토의 추천 주식들인데 멘토를 믿고 이익을
                달성한거에 대해 너무 감사하고 기뻤습니다.
              </p>
            </div>
          </div>
          <!-- /box -->
          <!-- box -->
          <div class="voice_box">
            <div class="voice_wp clearfix">
              <div class="voice_img">
                <img src={imgVoice5.src} alt="" />
              </div>
              <div class="voice_title">
                <div class="age">60대 실업자 남성</div>
                <h3>“일찍 시작했어야 했어요. 은퇴 후에 더 즐거워졌어요.”</h3>
              </div>
            </div>
            <div class="voice_text">
              <p>
                1.은퇴한 후에 나는 혼자서 주식 거래를 시작했지만 , 수익을 내지
                못했어요 . 주식 투자에 대해 배우기 위해 여러가지 방법을 차고
                있을때 , 저의 멘토를 만났습니다.
              </p>
              <p>
                2.저는 나이가 있어서 글을 읽는것도 어려운 일이지만 정보를
                공유하고 설명해주는 멘토 덕분에 많은 도움이 되었습니다.
              </p>
              <p>
                3.지금까지 대략 3개 종목만 시도 해봤는데 각각 탄탄한 수익을
                봤습니다.
              </p>
            </div>
          </div>
          <!-- /box -->

          <!-- box -->
          <div class="voice_box">
            <div class="voice_wp clearfix">
              <div class="voice_img">
                <img src={imgVoice6.src} alt="" />
              </div>
              <div class="voice_title">
                <div class="age">40대 주부 여성</div>
                <h3>
                  “주식 투자가 잘 안됐는데, 헌신적인 멘토의 지원 덕분에 안심하고
                  시작할 수 있었어요!”
                </h3>
              </div>
            </div>
            <div class="voice_text">
              <p>
                주변에서 자산 관리가 중요하다고 하는 이야기를 듣고 , 저도 직접
                시도해보기로 결심했어요.
              </p>
              <p>
                남편은 투자에 큰 흥미가 없고 저는 투식투자가 잘 안되엇지만
                헌신적인 멘토의 지원 덕분에 어려움 없이 시작할 수가 있었어요
              </p>
              <p>
                나는 인도 주식과 미국 주식 둘다 거래하고 있고 , 저의 멘토는 어떤
                주식으로 수익을 낼 수 있는지 조언에 주기 때문에 자신있게 주식을
                구매 할 수 있습니다.
              </p>
              <p>이걸 테니스 동호회 친구들에게 알려중 생각이에요</p>
            </div>
          </div>
          <!-- /box -->
        </div>
        <br />
        <div style="text-align: center">
          <a  class="link-btn" target="_blank">
            <div
              style="
              display: inline-block;
              max-width: 100%;
              animation: switch 2s ease-out infinite;
            "
            >
              <img
                class="myClickimg"
                src={imgKg0703_4.src}
                alt=""
                style="max-width: 100%; width: auto"
              />
            </div>
          </a>
        </div>
      </section>
      <section class="faq">
        <h2>
          이것이 해결책입니다! <br />
          이 페이지를 본 사람들로부터<br />
          <span class="or">자주 묻는 질문</span>
        </h2>
        <div class="faq_inner">
          <div class="qa-list mts">
            <dl class="qa">
              <dt>이 서비스를 이용하는 방법은 무엇인가요?</dt>
              <dd style="display: none">
                <p>
                  KAKAO 그룹에 가입하고 KAKAO을 통해 튜터를 추가하면 무료로
                  상담할 수 있습니다.
                </p>
              </dd>
            </dl>
            <dl class="qa">
              <dt>더 큰 위험을 피하기 위해 어떻게 해야 하나요?</dt>
              <dd style="display: none">
                <p>
                  튜터는 큰 이익을 가져올 가능성이 가장 높은 페니 주식을 찾기
                  위해 세 가지 특정 매개변수를 사용하여 안내합니다: – 뉴스 속보
                  – 기술 지표 – 시장 동향
                </p>
              </dd>
            </dl>
            <dl class="qa">
              <dt>경험이 없어도 괜찮은가요?</dt>
              <dd style="display: none">
                <p>
                  걱정하지 마세요! 초보자든 경험이 풍부한 트레이더든 저희 튜터는
                  풍부한 지식을 약속합니다.
                </p>
              </dd>
            </dl>
            <dl class="qa">
              <dt>주식 매매를 대행하나요?</dt>
              <dd style="display: none">
                <p>
                  실제 주식 매매는 고객이 자신의 증권 계좌를 사용하여
                  진행됩니다. 증권 계좌가 없는 경우 개설해주세요. 주식을 사고 팔
                  수 있는 환경을 준비해 주시기 바랍니다.
                </p>
              </dd>
            </dl>
            <dl class="qa">
              <dt>얼마나 투자 자금이 필요한가요?</dt>
              <dd style="display: none">
                <p>
                  고객의 편의에 따라 다릅니다. 몇 만원부터 시작해도 좋은 수익을
                  낼 수 있지만, 주식의 가격에 따라 구매할 수 없을 수 있습니다.
                  고객은 자신의 자금을 상담하면서 권장 주식을 적당한 범위 내에서
                  매매해보기를 권장합니다.
                </p>
              </dd>
            </dl>
            <dl class="qa">
              <dt>추천된 주식이 오르면 성공 수수료를 지불하나요?</dt>
              <dd style="display: none">
                <p>
                  일반적으로 우리는 고객으로부터 성공 수수료를 받지 않습니다.
                </p>
              </dd>
            </dl>
          </div>
        </div>

        <!-- <div style="text-align: center;margin: 40px auto 0 auto;width: 1200px;max-width: 100%">
            <!-- TODO: Missing image file - <img src="static/picture/img_k75_2.png" alt="" style="max-width: 100%;width: auto"> -->
        </div> -->
      </section>
      <a name="offer" id="offer"></a>
      <div class="cta" style="background-color: #5589c3">
        <div class="ctainner">
          <!-- <h2><img src=static/picture/cta_title_r.png"></h2> -->
          <a  class="link-btn" target="_blank">
            <div class="submit center banner">
              <div class="btna">
                <img class="myimg" src={btnCta.src} />
              </div>
            </div>
          </a>
          <div style="text-align: center">
            <p class="k_sp" style="font-weight: bold; font-size: 18px">
              버튼을 클릭하여 KAKAO으로 이동하세요. <br />
              이 서비스는 <span style="color: #fff300">완전히 무료</span>입니다.
            </p>
          </div>
        </div>
        <div class="floating banner" style="display: block">
          <div class="banner_pc fl_pc">
            <p class="animate__animated animate__headShake animate__infinite">
              <a
                
                class="link-btn"
                target="_blank"
              >▶ KakaoTalk을 통해 튜터에게 즉시 상담하기</a
              >
            </p>
          </div>
          <div class="banner_sp fl_sp">
            <p class="animate__animated animate__headShake animate__infinite">
              <a
                
                class="link-btn"
                target="_blank"
              >▶ KakaoTalk을 통해 튜터에게 즉시 상담하기</a
              >
            </p>
          </div>
        </div>
      </div>
      <script>
$('.qa-list dd').hide()
$('.qa-list dl').on('click', function (e) {
  $('dd', this).slideToggle('fast')
  if ($(this).hasClass('open')) {
    $(this).removeClass('open')
  }
  else {
    $(this).addClass('open')
  }
})
</script>
      <style>
        @keyframes switch {
          0% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
          }

          50% {
            -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9);
          }

          100% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
          }
        }
      </style>
    </div>
  </body>
</html>
